@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
    margin: 0;
    background-color: rgb(190, 255, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Calculator {
    background-color: #1d1d1d;
    box-shadow: 10px 10px 20px black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    font-family: "Inconsolata";
    font-weight: 200;
    width: 100%;
    padding: 20px;
    font-size: 4rem;
    border: none;
    background-color: rgb(63, 63, 63);
    color: white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    font-family: "Inconsolata";
    font-weight: 300;
    height: 100px;
    width: 100px;
    border-radius: 150px;
    border: none;
    background-color: rgb(90, 90, 90);
    color: white;
    font-size: 40px;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

button:hover {
    opacity: 0.8;
    scale: 0.95;
}

button:active {
    background-color: rgb(126, 125, 125);
    font-size: 30px;
    transition: 50ms ease;
}

.operator {
    color: rgb(252, 193, 66); 
}

button.operator:hover{
    background-color: rgb(220, 240, 106); 
    color: rgb(0, 0, 0);
}